body {
    margin: 0;
    padding: 0;
    background: rgb(240, 239, 239);
    font-family: "Poppins", sans-serif;
  }

  h1 {
    margin: 0;
    font-weight: 400;
  }

  h2 {
    margin: 0;
    font-weight: 400;
    display: inline-block;
  }

  .box {
    background: #fff;
    width: 70rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.9rem;
  }

  .header {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .headerLeft {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
  }
  .headerRight {
    width: 100%;
    display: grid;
    justify-items: end;
  }
  .blue {
    background: rgb(100, 133, 133);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .iconInfo {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  .icon {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  .shadow{
box-shadow: 0 4px 2px -2px gray;
  }
  .profile-pic{
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
padding : 0.1rem;
  }
  table {
    border: 2px solid #000;
    margin: 1rem 0 1rem 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  td,
  th {
    border: 1px solid #000;
    padding: 0.4rem;
  }
